<!DOCTYPE html>
<html lang="en">

<head>
    <title>EmberJS Installation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.6.0/ember.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.10/ember-data.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ember-localstorage-adapter/0.3.1/localstorage_adapter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="app.js"></script>
</head>

<body>

    <script type="text/x-handlebars">
        <h1>Exermatic</h1>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="walks">
        {{#link-to "walks.add"}}Add walk{{/link-to}} 

        {{#if this.content.length}}
            <ul>
                {{#each}}
                    <li>
                        {{#link-to "walks.walk" this}}Walk {{this.id}}{{/link-to}} 
                        <span>On {{humanDate this.dateWalked}}</span>

                        <small>{{this.distanceWalked}}km @ {{this.kmPerHour}}kph</small>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>There are no walks!</p>
        {{/if}} 
        
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="walks/add">
        {{error}} 
        {{input type="text" id="dateWalked" value=dateWalked placeholder="YYYY-MM-DD HH:mm"}} 
        {{input type="text" id="distanceWalked" value=distanceWalked placeholder="Distance Walked"}} 
        {{input type="text" id="minutesTaken" value=minutesTaken placeholder="Time Taken"}} 
        {{input type="text" id="mood" value=mood placeholder="Good / OK / Bad"}}
        <button id="add-button" {{action "addWalk"}}>Add</button>
    </script>

    <script type="text/x-handlebars" data-template-name="walks/walk">
        <h3>Walk Details</h3>

        <ul>
            <li>Walk: {{id}}</li>
            <li>Date Walked: {{dateWalked}}</li>
            <li>Distance Walked: {{distanceWalked}}</li>
            <li>Time Taken: {{minutesTaken}}</li>
            <li>Mood: {{mood}}</li>
            <li>Speed: {{kmPerHour}}</li>
        </ul>
    </script>
</body>

</html>