<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pomodoro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="m-4">

    <div id="app" class="container">
        <h2>
            <span>Pomodoro</span>
            <button :disabled="state === 'started'" @click="start()">
                <i class="fa fa-play"></i>
            </button>
            <button :disabled="state !== 'started'" @click="pause()">
                <i class="fa fa-pause"></i>
            </button>
            <button :disabled="state !== 'started' && state !== 'paused'" @click="stop()">
                <i class="fa fa-stop"></i>
            </button>
        </h2>
        <h3>{{ title }}</h3>
        <div class="card card-inverse" v-bind:class="{'card-info': isWork, 'card-warning': !isWork}">
            <div v-if="isWork" class="card-block pomodoro-timer">
                <span>{{ min }}</span> :
                <span>{{ sec }}</:span>
            </div>
            <img v-if="!isWork" :src="'http://thecatapi.com/api/images/get?format=src&type=gif&ts=' + timestamp">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>